div.quizHeader p {
  font-size: 20px;
  padding: 15px;
  padding-top: 0px;

}

div.question {
  flex:1;
  overflow: auto;
  h1 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  textarea {
    width: 600px;
    height: 200px;
    max-width: 98%;
    max-height: 50%;
    resize: none;
  }

  input {
    vertical-align: middle;
  }

  .feedback-icon {
    vertical-align: middle;
    padding-left: 10px;
    &.correct {
      color: #32e389;
    }
    &.incorrect {
      color: tomato;
    }
  }
  .feedbackInputAnswer{
    color: tomato;
  }
  input[type="text"], input[type="number"] {
    font-size: 23px;
    height: 28px;
    padding: 2px;
  }

  div.question_choice {
    margin: 10px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    div.questionC1 {
      float: left;
      width: 35px;
      margin-top: 9px;
      margin-left: 10px;
    }

    div.questionC2 {
      display: inline-block;
      width: auto;
      margin: 12px 8px 12px 8px;
      cursor: pointer;
      .feedback-icon {
        vertical-align: top;
      }
    }

    input[type="checkbox"] {
      width: 23px;
      height: 23px;
      cursor: pointer;
    }
    &[disabled]{
      cursor: default;
    }

    p {
      display: inline-block;
      font-size: 20px;
      margin: 0px 0px 0px 0px;
    }
}
}

div.questionButtonsWrapper {
  padding: 10px;
   button.answerQuestion,   button.resetQuestion,   button.resetQuiz,  button.nextQuestion {
    padding: 13px;
    margin-right: 10px;
    color: white;
    background: white;
    border: none; //2px solid black;
    font-size: 20px;
    cursor: pointer;

  }

  button[disabled]{
    color: white;
    border: none;// 2px solid gray;
    cursor: default;
    opacity: 0.5;
  }
  i {
    vertical-align: middle;
    margin-right: 10px;
  }
}

@media (max-width: 700px) {
  div.questionButtonsWrapper { 
    button {
      span {
        display: none;
      }
      i {
        margin-right: 0px;
      }
    }
  }

}

 